body{
    background-color: #222;
}

.login {
    flex: 1;
    width: flex;
    height: flex;
    background: #000;
    font-family: monospace;
    font-size: 2vw;
    color: #0f0;
    text-align: center;
}

.notepad {
    width: flex;
    height: flex;
    background: #000;
    color: #0f0;
    text-align: center;
    font-family: monospace;
}

.notes {
    text-decoration:none;
    font-size: 1.5vw;
    font-family: "Arial", monospace;
    color: #0f0;
}

a{
    text-decoration:none;
    font-size: 1.5vw;
    font-family: "Arial", monospace;
    color: #fff;
}

li{
    list-style-type: none;
    display:inline-block ;
    margin: 15px;
}

textarea{
    resize: none !important;
    overflow: auto !important;
    border: 0.2vh solid #0f0;   /* green border */
    border-radius: 5px;          /* rounded corners */
    background-color: #333;   /* light gray background */
    color: #fff;                 /* text color */
    padding: 5px;
    outline: none;  
}