<!DOCTYPE html>
<html>
<head>
    <title>My Notes</title>
    <script src="/static/script.js" defer></script>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body class="notepad">
    <button id="toggle-theme">Switch Theme</button> 
    <a href="/logout">Logout</a>
    <div  class="notes">
      <h2>Completed Notes</h2>
      <button onclick="window.location.href='{{ url_for('notes') }}'">Back to Active Notes</button>
      <input type="text" id="completed_search" placeholder="Search notes...">
      <div id="notes-container">
        <ul>
          {% for note in notes %}
            <li>
              <input type="text" value="{{ note.title }}" readonly><br>
              <textarea readonly>{{ note.content }}</textarea>
              <form method="post" action="{{ url_for('delete_note', note_id=note.id) }}">
                <button type="submit">Delete</button>
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <br>
    <p>© 2025 Organize — Desenvolvido por Arthur Araújo e Gabriel Giovane</p>
</body>
</html>
