<!DOCTYPE html>
<html>
<head>
    <title>My Notes</title>
    <script src="/static/script.js" defer></script>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body class="notepad">
    <button id="toggle-theme">Switch Theme</button> 
    <a href="/logout">Logout</a>

    <h2>Welcome to Your Notepad</h2>

    <div  class="notes">
        <form method="post">
            <input type="text" name="title" placeholder="Note title" required><br>
            <textarea name="content" placeholder="Write a new note..." required></textarea><br>
            <button type="submit">Add Note</button>
        </form>
    </div>
    
    <div  class="notes">
        <input type="text" id="search" placeholder="Search notes...">
        <div id="notes-container">
            <h3>Your Notes</h3>
            <a href="{{ url_for('completed_notes') }}">View Completed Notes</a>
            <ul>
                {% for note in notes %}
                <li  class="notes">
                    <form method="post" action="/edit/{{note.id}}">
                        <input type="text" name="title" value="{{ note.title }}" placeholder="Note title" required><br>
                        <textarea name="content">{{ note.content }}</textarea>
                        <button type="submit">Save</button>
                    </form>
                    <form method="post" action="{{ url_for('mark_done', note_id=note.id) }}">
                        <button type="submit">Done</button>
                    </form>
                </li>
                {% else %}
                <p>No notes found.</p>
                {% endfor %}
            </ul>
        </div>
    </div>

    <br>
    <p>© 2025 Organize — Desenvolvido por Arthur Araújo e Gabriel Giovane</p>
</body>
</html>
